@charset "UTF-8";
body{
  min-width: 1020px;
}

div.page{
  margin: 0 auto;
  width: 980px;
}

div.header{
  -background: green;
}

div.leftside{
  text-align: left;
}

div.headtext{
  font-size: 36px;
  margin-left: 20px;
  padding-top: 50px;
}

div.rightside{
  font-size: 30px;
  text-align: right;
  margin-right:  20px;
}

div.navigation{

}

div.nav{
  margin-top: 50px;
}

div.content{
  padding-right: 10px;
  padding-left: 10px;
}

div.one-fourths{
  float: left;
  width: 25%;
}

one-fourths h1{
  font-size: 32;
}

div.three-fourths{
  width: 75%;
}

div.footer{
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee;
}
