@charset "UTF-8";
body{
  min-width: 1020px;
}

div.page{
  margin: 0 auto;
  width: 980px;
}

div.page div.header{
  background: green;
}

div.page div.header div.leftside{
  text-align: left;
}

div.page div.header div.leftside span{
  font-size: 36px;
  margin-left: 20px;
  padding-top: 50px;
}

div.page div.header div.rightside{
  font-size: 30px;
  text-align: right;
  margin-right:  20px;
}

div.page div.navigation{

}

div.page div.navigation div.nav{

  margin-left: 20px;
  margin-top: 50px;
}

div.content{
  -float: left;
  padding-right: 10px;
  padding-left: 10px;
}

div.page div.content div.one-fourths{
  height: 100px;
}

div.page div.content div.three-fourths{
  height: 100px;
  background: red;
}

div.page div.footer{
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee;
}
