<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Sentry</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="user">
	    <form method="post" action="/createuser">
    			<table>
					<tr>
						<td>
							邮箱：
						</td>
						<td>
							<input type="text" id="email"/>
						</td>	
					</tr>
					<tr>
						<td>
							密码：
						</td>
						<td>
							<input type="text" id="pass"/>
						</td>	
					</tr>
					<tr>
						<td>
							<input type="submit" id="submit"/>
						</td>
						<td>
						</td>	
					</tr>
				</table>
    	</form>
    </div>
  </body>
</html>
